<!DOCTYPE html>
<html>
   <meta charset="UTF-8">
   <title>Agenda.ge News Category Classifier Home</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <body>
      <h3>Welcome To The News Category Classifier</h3>
      <br>
      <a class="home" target="_top" href="proceed">Click Here to start!</a>
      <br/><br/><br/><br/><br/><br/><br/>
      <a class="home2" href="https://github.com/melegithubyit">Github contact</a>
   </body>
   <footer>
      <br>
   </footer>
</html>