<!-- test.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Test</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <a href="proceed" class="bttn2">Go Back</a>
    <h1 class="test_acc">Test Accuracy</h1>
    <form action="/test" method="POST" enctype="multipart/form-data">
        <label for="file" class="labell">Upload Test File: <span class="span">(only Upload .csv file format)</span></label>
        <input type="file" id="file" name="file" required>
        <br>
        <button type="submit" class="bttn">Upload and Test</button>
    </form>

    {% if accuracy %}
    <div class="acc_div">
        <p class="accuracy">Test accuracy: {{ accuracy }}%</p>
    </div>

{% endif %}
</body>
</html>